{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <form class="form-signin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <img class="mb-4" src="{{ asset('build/images/LogoFantecoloTennis.png') }}" alt="" width="144" height="144">
        <h1 class="h3 mb-3 font-weight-normal">Autenticati...</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
               placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
        {% if error %}
            <div>
                <a href="{{ path('giocatore_registrazione') }}">Registrati GRATIS</a>
                <p> oppure </p><a class="ml-auto" href="{{ path('giocatore_recuperaPassword') }}">Password dimenticata?</a>
            </div>
        {% endif %}

    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}