{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contatto') }}
{% endblock %}
