{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}
    <main role="main" class="flex-shrink-0">
        <img src="{{ asset('build/images/LogoGSfantecolo.png') }}" alt="home logo" width="400" height="auto">
        <p class="lead">Prenotazioni campo tennis di Fantecolo di Provaglio d'Iseo. Iscriviti e prenota GRATIS il ns. campo da tennis.</p>
        <p class="small">Siamo in <strong>{{ count }}</strong> iscritti. Unisciti a noi!</p>
        <a href="{{ path('prenotazione_index') }}" class="btn btn-primary">Prenota</a>
        <a href="{{ path('prenotazione_prenota_adesso') }}" class="btn btn-success">Gioca 1 ora adesso</a>
    </main>

    <footer class="footer mt-auto py-3">
        <p>Sito realizzato da <a href="https://www.linkedin.com/in/marco-natalini-44328570" target="_blank">Marco Natalini</a></p>
    </footer>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}