{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tabellone') }}
{% endblock %}

{% block body %}
    <div class="" id="calendar"></div>
    <div class="prenotazioniUser" data-ids-prenotazioni-giocatore="{{ idsPrenotazioniGiocatore|json_encode|e('html_attr') }}"></div>
    <div class="prenotazioniOggiUser" data-prenotazioni-oggi="{{ prenotazioniOggi|json_encode|e('html_attr') }}"></div>
    <a class="hide" id="btnPrenota" href="{{ path('prenotazione_prenota') }}"></a>
    <a class="hide" id="btnElimina" href="{{ path('prenotazione_elimina') }}"></a>
    <a class="hide" id="urlPrenotazioniJson" href="{{ path('prenotazione_json') }}"></a>
    <a class="hide" id="urlPrenotazioniJsonUser" href="{{ path('prenotazione_jsonUser') }}"></a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        /**
         * sends a request to the specified url from a form. this will change the window location.
         * @param {string} path the path to send the post request to
         * @param {object} params the paramiters to add to the url
         * @param {string} [method=post] the method to use on the form
         */
        function post(path, params, method='post') {

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            const form = document.createElement('form');
            form.method = method;
            form.action = path;

            for (const key in params) {
                if (params.hasOwnProperty(key)) {
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    hiddenField.name = key;
                    hiddenField.value = params[key];

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }

    </script>

    <script type="text/javascript">
        // window.location.replace('http://www.example.com')
        btnPrenota = document.getElementById('btnPrenota');
        function prenota(ora){
            //window.location.replace(btnPrenota.getAttribute('href').concat('?ora=').concat(ora))
            post(btnPrenota.getAttribute('href'), {ora: ora});
        }
    </script>

    <script type="text/javascript">
        // window.location.replace('http://www.example.com')
        btnElimina = document.getElementById('btnElimina');
        let ids = document.querySelector('.prenotazioniUser').dataset.idsPrenotazioniGiocatore;
        let prenotatoId = document.querySelector('.prenotazioniOggiUser').dataset.prenotazioniOggi;

        console.log(ids);
        console.log(prenotatoId);
        console.log(Array.from(prenotatoId).length);
        console.log(JSON.parse(prenotatoId).length);

        function giaPrenotato() {
            let prenotato = false;
            if (JSON.parse(prenotatoId).length > 0){
                prenotato = true;
            }
            return prenotato;
        }

        function checkId(id) {
            let trovato = false;
            console.log('Controllo se ho ID: ' + id);
            JSON.parse(ids).forEach(function (el) {
                console.log(el.id.toString(), id);
                if (el.id.toString() === id){
                    trovato = true;
                }
            });
            console.log('fine controllo: ' + id);
            return trovato;
        }

        function elimina(id){
            //window.location.replace(btnElimina.getAttribute('href').concat('?id=').concat(id))
            post(btnElimina.getAttribute('href'), {id: id});
        }
    </script>


    {{ encore_entry_script_tags('tabellone') }}

{% endblock %}
