<img src="{{ asset('build/images/LogoFantecoloTennis.png') }}" alt="home logo" width="72" height="72">
<h3>Prenotazione campo</h3>

<p>Ciao,<br>
    {{ nome }} ti aspetta al campo di Fantecolo il {{ data|date('d.m.Y') }} alle {{ data|date('H:i')}}</p>

<p>Clicca per vedere le prenotazioni in questo
    <a href="{{ absolute_url(path('prenotazione_index'))}}">LINK</a></p>

<p>Ti ricordiamo brevemente alcune regole:</p>
<ul>
    <li> lascia il campo come l'hai trovato, se non meglio. </li>
    <li> puoi prenotare 1 volta al giorno, per 1 o 2 ore </li>
    <li> gioca le ore che prenoti o cancellale appena sai di non poterle usare.</li>
    <li> puoi venire a giocare quando vuoi, anche senza aver prenotato, ma dovrai lasciare il campo in 15 min a chi lo prenota.</li>
</ul>