<img src="{{ absolute_url(asset('build/images/LogoFantecoloTennis.png')) }}" alt="FANTECOLO tennis" width="72" height="72">
<h3>Ci sei quasi! Completa la tua iscrizione.</h3>

<p>Ciao {{ name }},<br>
    siamo lieti di sapere che vuoi unirti al nostro gruppo di appassionati di tennis di livello scarso!</p>

<p>Clicca su questo <a href="{{ absolute_url(path('giocatore_attivazione'))}}?activation={{ activationLink }}&username={{ name }}">LINK</a> per attivare il tuo accout.</p>

<p>Ti ricordiamo brevemente alcune regole:</p>
<ul>
    <li> lascia il campo come l'hai trovato, se non meglio. </li>
    <li> puoi prenotare 1 volta al giorno, per 1 o 2 ore </li>
    <li> gioca le ore che prenoti o cancellale appena sai di non poterle usare.</li>
    <li> puoi venire a giocare quando vuoi, anche senza aver prenotato, ma dovrai lasciare il campo in 15 min a chi lo prenota.</li>
</ul>